* {
    box-sizing: border-box;
    border: 1px solid red;
    font-family: 'Times New Roman', Times, serif;
}

header,
footer {
    padding: 40px;
}

main {
    width: 70%;
    min-height: 60vh;
    float: left;
}

aside {
    width: 30%;
    min-height: 60vh;
    float: left;
}

footer {
    clear: both;
}

nav li {
    float: right;
    list-style-type: none;
}