* {
    box-sizing: border-box;
    border: 1px solid red;
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

header {
    position: fixed;
    top: 0;
    background-color: lightgoldenrodyellow;
    width: 100%;
    margin: 0;
    left: 0;
}

footer {
    padding: 40px;
}

main {
    width: 100%;
    min-height: 60vh;
    float: left;
    background-color: white;
}

footer {
    clear: both;
}

nav li {
    float: right;
    list-style-type: none;
    background-color: inherit;
}

nav ul {
    float: right;
    padding: 0;
    background-color: inherit;
}